:root {
    --color-background: #e0e0e0;
    --color-background-light: #e9e9e9;
    --color-background-dark: rgb(194, 194, 194);
    --color-background-doubledark: #acacac;
    --color-page-light: rgba(179,220,237,1);
    --color-page-dark: rgb(41, 175, 233);
    --color-equals-light: rgb(241, 163, 90);
    --color-equals-dark: rgb(243, 126, 17);
    --color-operations-light: #659cd3;
    --color-operations-dark: #4883bf;

}

@font-face {
    font-family: comfortaa-Regular;
    src: url('./fonts/comfortaa/Comfortaa-Regular.ttf');
}

@font-face {
    font-family: comfortaa-Bold;
    src: url('./fonts/comfortaa/Comfortaa-Bold.ttf');
}
html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: comfortaa-Regular;
}

#root {
    width: 100%;
    height: 100%;
    background: rgba(179,220,237,1);
    background: linear-gradient(to bottom right, var(--color-page-dark), var(--color-page-light));
    color: #999;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.calculatorDisplay {
    background: var(--color-background);
    border-radius: 40px;
    padding: 4px 30px 20px;
    min-height: 500px;
    box-shadow: 6px 6px 14px 0 rgba(0, 0, 0, 0.2), -8px -8px 18px 0 rgba(255, 255, 255, 0.55);
}

.resultsDisplay {
    background: var(--color-background-dark);
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 10px;
    height: 100px;
    width: 430px;
    box-shadow: inset 1px 1px 3px 5px var(--color-background-dark), inset -1px -1px 2px var(--color-background-light); 
    text-align: right;
    font-family: comfortaa-Regular;
    color: #747474;
}

.results {
    font-size: 20px;
    height: 35px;
    margin-top: 20;
}

.operation {
    color: #000;
    font-size: 25px;
    margin-right: 10px;
    justify-content: right;
}

button {
    border-radius: 5px;
    background-color: white;
    -moz-box-shadow: 0px 5px 0px 0px rgb(0, 105, 202);
    -webkit-box-shadow: 0px 5px 0px 0px rgb(0, 105, 202);
    box-shadow: 2px 2px 4px 0 var(--color-background-dark), -2px -2px 4px 0 var(--color-background-light);
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border: none;
    background-color: var(--color-background-light);
    font-size: 25px;
    color: #747474;
    font-family: comfortaa-Regular;
    cursor: pointer;
    transition: all .10s ease-in-out;
    position: relative;
}

button:focus {
    outline: none;
}

/*Desplaza el botón para simular el click*/

button:active {
    top: 4px;
    box-shadow: 0px 1px 0px 0 var(--color-background-dark), -2px -2px 4px 0 var(--color-background-light);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(5, 70px);
    margin-top: 30px;
    padding: 10px;
    grid-gap: 10px;
}

.clear {
    grid-column: 1/3;
    grid-row: 1;
    background: linear-gradient(to top left, var(--color-equals-light), var(--color-equals-dark));
    font-family: Comfortaa-Bold;

}

.clearLast {
    grid-column: 3;
    grid-row: 1;
    background-color: var(--color-background-doubledark);
    font-family: Comfortaa-Bold;

}

.zero {
    grid-column: 1/3;
    grid-row: 5;
    
}

.division {
    grid-column: 4;
    grid-row: 1;
    background: linear-gradient(to top left, var(--color-operations-light), var(--color-operations-dark));
    color: #fff;
    font-family: Comfortaa-Bold;
}

.multiplication {
    grid-column: 4;
    grid-row: 2;
    background: linear-gradient(to top left, var(--color-operations-light), var(--color-operations-dark));
    color: #fff;
    font-family: Comfortaa-Bold;
}

.sum {
    grid-column: 4;
    grid-row: 4/6;
    background: linear-gradient(to top left, var(--color-operations-light), var(--color-operations-dark));
    color: #fff;
    font-family: Comfortaa-Bold;
}

.substraction {
    grid-column: 4;
    grid-row: 3;
    background: linear-gradient(to top left, var(--color-operations-light), var(--color-operations-dark));
    color: #fff;
    font-family: Comfortaa-Bold;
}

.equals {
    grid-column: 3;
    grid-row: 5;
    background: linear-gradient(to top left, var(--color-equals-light), var(--color-equals-dark));
    font-family: Comfortaa-Bold;

}